extends layout 

block content 
  h1= title 

  form(method='POST' action='')
    label(for='gpu') GPU: 
      select#gpu(type='select' placeholder='Select GPU' name='gpu' required='true')
        - gpulist.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for gpu in gpulist 
          if gpuinstance 
            option(value=gpu._id selected=(gpuinstance.gpu.toString()==gpu._id.toString() ? 'selected' : false)) #{gpu.name}
          else 
            option(value=gpu._id) #{gpu.name}
    
    label(for='serial') Serial: 
      input#serial(type='text' placeholder='Serial Number' name='serial' required='true' value=(undefined===gpuinstance ? '' : gpuinstance.serial))

    button(type='submit') Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg